@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'NanumSquareRound', inter, system-ui, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
